/* CAROUSEL STYLES */
/* GLOBAL STYLES
-------------------------------------------------- */

.mainBody {
    padding-bottom: 3rem;
    color: #5a5a5a;
  }
.main
{
  padding-top: 60px;
  justify-content: center;
}
.indexBody
{
  background-color: #F1E6B2;
}
  
  
  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    margin-bottom: 4rem;
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
  }

  a:hover
  {
    color: #BC8A7E;
  }
  /* Nav Styles */
  .navStyles
  {
    background-color: whitesmoke;
  }
  .navText
  {
    color: #5a5a5a;
  }
  .left
  {
    justify-content: flex-start
  }
  .right
  {
    justify-content: flex-end;
  }
  .icon
  {
    color: #5a5a5a;
    font-size: 30px;
    height: 30px;
    width: 30px;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: 32rem;
  }
  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 32rem;
  }
  
  
  /* Main
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .custom_cont .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  .custom_cont h2 {
    font-weight: 400;
  }
  .custom_cont .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }

  /* ALL PAGES */
  .bodyContent
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  .bodySpacing
  {
    margin: 10px;
  }

  /* GAMES PAGE */
  .gamesBody
  {
    background-color: #DBE2E9;
  }
  /* ART PAGE */
  .artBody
  {
    background-color: #D8C8D1;
  }
  .images
  {
    width: 300px;
    height: 300px;
    border-radius: 50%;
  }
  /* LINKS PAGE */
  .linksBody
  {
    background-color: #BFCEC2;
  }
  /* BIO PAGE */
  .bioBody
  {
    background-color: #ECC7CD;
  }

  .modal-dialog {
    max-width: 800px;
    margin: 30px auto;
}



.modal-body {
position:relative;
padding:0px;
}
.close {
position:absolute;
right:-30px;
top:0;
z-index:999;
font-size:2rem;
font-weight: normal;
color:#fff;
opacity:1;
}
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 1024px) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
    .featurette-heading {
      font-size: 50px;
    }
  }
  